* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("https://image.tmdb.org/t/p/original/lsN1wAbqCvUPKEhkEI9pQSSiTjU.jpg"); */
    background-size: cover;
    /* background-position: center;  */
    /* position: relative;  */
    width: 100%;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.img {
    height: 50px;
    width: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    color: white;
    align-items: center;
    position: relative;
}

nav::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.logo img {
    /* width: 120px; */
    height: 30px;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 820px;
}

.list li {
    margin: 0 0.5rem;

    font-size: 1.2rem;
    color: white;
    text-decoration: none;


}

.logo3 {

    display: flex;
    margin-left: 860px;
    justify-content: space-around;
}

.content {
    /* position: relative */
    z-index: 1;
    /* max-width: 900px; */
    padding: 59px;
    width: 100%;
    height: 90vh;
    background-size: cover;
}

.banner {
    color: rgba(225, 255, 2555, 0.5);
    font-weight: 500;
}

.banner span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 2555, 0.5, );
}

.banner span:first-child {
    padding-left: 0;
}

.banner span:last-child {
    border-right: none;
}

.banner span i {
    background: #de0611;
    padding: 0 8px;
    display: inline-block;
    font-size: normal;
    border-radius: 2px;
}

.para {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin: 5px 0 20px;
    font-size: 18px;
    padding: 10px;
}

.h1 {
    color: white;
    padding: 20px;
}

.h2 {
    color: aliceblue;
    font-size: 25px;
    padding: 20px;
}

.content {
    padding: 200px;
    padding-left: 100px;
}

.btn {
    font-size: 26px;
    border: none;
    margin-left: 10px;
}

.btn1 {
    font-size: 26px;
    padding-left: 20px;
    color: aliceblue;
    background-color: #000;
    border: none;
    margin-left: 10px;
}

.img2 {
    width: 130PX;
    height: 56px;

}

.img3 {
    height: 20px;
}

.card-head {
    font-size: 25px;
}

.cards-container {
    height: 230px;
    /* width: 90vw; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    margin: 10px;


}

.cards-container::-webkit-scrollbar {
    display: none;
}

.movies-container {
    background-color: black;
    margin-bottom: 100px;
}

.movies-header {
    color: white;
}

.card1 {
    background-image: url("https://image.tmdb.org/t/p/original/faXT8V80JRhnArTAeYXz0Eutpv9.jpg");
    min-width: 450px;
    height: 200px;
    background-size: cover;
    display: flex;
    justify-content: space-between;

}

.title {
    /* margin-top: 150px; */
    color: white;
    margin-left: 20px;
    font-size: 25px;
}